@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music Library App</h1>
    <p class="lead">Begin by adding your favorite artist!</p>
    <p><a href="~/Artist/Create" class="btn btn-primary btn-lg">Continue &raquo;</a></p>
</div>
